<html>
<head>
<title>Register </title>
<link rel="stylesheet" href="style.css" />
</head>
<body  bgcolor = "lightcyan" align = "Center">
  <Font size="7" Color=" Red">
                      <p>**Note : To Delete Order Fill The Details. </p>
                      <p> Else select Home Page.  
                      
                     </Font>
<form action="\Delete" method="POST">

<br>
<br> <br>
 <p> CustomerID : <input type = "number" name="c_id" placeholder = "Last 3 digit of AADHAR"> </p> 

		
 </br></br>
<input type="Submit" value="Submit" > </br> </br>
<p> <a href = "/">Home Page </a></p>
</form>
</body>
</html>