<html>
<head>
<Title> Welcome Page </Title>
</head>
<style type =  "text/css">
 body {
           background-image : url(PICTURE1.jpg);
           background-size : cover;
           background-attachment: fixed;
}

</style>
</head>
<body>
<div class = content>
<FONT SIZE = "7" COLOR = "Yellow"><b><marquee><u><i>WELCOME TO SUPERMARKET!!! </i></u> </marquee></b></FONT>
<br>
<br><br>
 <p> <FONT SIZE = "6" COLOR = "BLack"><i> <b><u>*** FEATURES*** </u></b></i> </Font> </p>


<ul Tyoe = "disk">
 <li><Font size = "5" Color = "	indigo	"> <b> This Market Consist of  Products of Different Category ( Dairy , Grocery , Stationary). </b></font></li>
 <li><Font size = "5" Color = "	indigo	"> <b> User Can Select Products From Any Category in Reasonable Price. </b></font></li>
 <li><Font size = "5" Color = "	indigo	"> <b> Special Discount to Regular Customers. </b></font></li>
</ul>
<br>
<br>
<br> <br> 
<table table border = "5"  align = "Center" width = "25%" height = "25%">

<tr><th colspan ="2" align = "center" bgcolor = "lightgray" ><B> SELECT CATEGORY OF USER</B>  </font> </th> </tr>
<td  align = "Center" bgcolor ="pink"> <a href = "/customers"> CUSTOMER</a></td>
<td  align = "Center" bgcolor = "pink"> <a href = "employees"> EMPLOYEE </a></td>
</table>
    



</body>
</html>
