<doctype html!>
       <html>
       <head>
       <title>Register </title>
       <link rel="stylesheet" href="style.css" />
       </head>
       <body  bgcolor = "lightcyan" align = "Center">
       <form action="/employee" method="POST">
       <Font size = "7" Color = " Red"><marquee> ***Register!!!***  </marquee></Font>
       <br>
       <br> <br>
        
                    EmployeeID: 
       <input type="number" name="e_id" placeholder= "Last 3 digit of AAdhar"> 
       <p> EmployeeName: <input type="text" name="name" placeholder = "Name and surname"> </p>
       <p> ContactNumber: <input type = "number" name= "contact" placeholder=  " +91Enter remaining digit" > </p>
                   <p> Address: <input type="text" name="address" placeholder= "Enter Address"  > </p>
                          <p>City: <input type= "text" name ="city" placeholder = " Enter City " ></p>
        </br></br>
       <input type="Submit" value="Submit" > </br> </br>
       
       <p> <a href = "/">Home Page </a> </p>
       <p>Want to update or login ? <a href = "/update2">click here
       </form>
       </body>
       </html>