<doctype html!>
<html>
<head>
<title>Register </title>
<link rel="stylesheet" href="style.css" />
</head>
<body  bgcolor = "lightcyan" align = "Center" >
<Font size = "5" color = "red"><b>  **PRODUCT ID : 1.Dairy Products  2.Grocery Products  3.Stationary Products  **</b></font>

<form action="" method="POST">

<br>
<br> <br>
 
             ProductID: 
<input type="number"  name="id" placeholder= "The product number"> 
<p> Cost: <input type="number" name="cost" placeholder = "Cost of product"> </p>
<p> Quantity: <input type = "number" name="cost" placeholder=  " Total quantity" > </p>
            <p> Total_Cost: <input type="number" name="total_cost" placeholder= "Total cost of products"  > </p>
		<p> Order_Date : <input type ="date" name="date" placeholder = " Orderdate"> </p>
		<p> CustomerID : <input type = "number" name="c_id" placeholder = "Last 3 digit of AADHAR"> </p> 
 </br></br>
<input type="Submit" value="Submit" > </br> </br>
<p> <a href = "/">Home Page </a></p>
</form>
</body>
</html>