<html>
<head>
<Title> Welcome Page </Title>
<style type="text/css">
body {
    background-image: url(PICTURE3.jpg);
   background-size : cover;
  background- attachment:  fixed;
}
.content{
background : LightGray;
width: 10%
padding: 5px;
margin : 5px auto
}
</style>

</head>

<body align= "Center" >


<div class = "content">
<p><a href = "/customers"> CUSTOMER</a>  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  
<FONT SIZE = "6"  COLOR = "red"><b><u><i>WELCOME TO SUPERMARKET!!! </i></u> </b></FONT>
&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;    <a href = "employees"> EMPLOYEE </a> </p>
</div> 


</body>
</html>