<doctype html!>
    <html>

    <head>
           <title>Register </title>
           <link rel="stylesheet" href="style.css" />
    </head>

    <body bgcolor="lightcyan" align="Center">
           <form action="/update1" method="POST">
                  <Font size="7" Color=" Red">
                         **Note : CustomerID cannot be updated!!
                  </Font>
                  <br>
                  <br> <br>

                  CustomerID:
                  <input type="number" name="id" placeholder="Last 3 digit of AAdhar">
                  <p> CustomerName: <input type="text" name="name" placeholder="Name and surname"> </p>
                  <p> ContactNumber: <input type="number" name="number" placeholder=" +91Enter remaining digit"> </p>
                  <p> Address: <input type="text" name="address" placeholder="Enter Address"> </p>
                  <p>City: <input type="text" name="city" placeholder=" Enter City "></p>
                  </br></br>
                  <input type="Submit" value="Submit"> </br> </br>
                  <p> <a href="/">Home Page </a></p>
           </form>
    </body>

    </html>